!!!
%html
  %head
    %link{ 'rel'=> 'stylesheet', 'type'=> 'text/css', 'href'=> 'css/gfm.css' }
    %title HAML
  %body
    #container
      #readme
        = render 'README.md'
      #code
        %h2 Code
        This page was generated via the following code,
        %code= __FILE__
        \:
        %pre
          = File.read __FILE__