- title ||= nil

!!!
%html
  %head
    %link{ 'rel'=> 'stylesheet', 'type'=> 'text/css', 'href'=> 'css/gfm.css' }
    - if title
      %title= title
    - else
      %title Demo Cubano
  %body
    - if title
      %h1= title
    #container

      = yield
